* {
  padding: 0px;
  border: 0;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --para-font: "Open Sans", sans-serif;
  --link-font: "Montserrat", sans-serif;
  --heading-font: "Rokkitt", serif;
  --light: 300;
  --normal: 400;
  --extra-light: 100;
  --very-light: 200;
  --button-color: #616161;
  --icon-color: #9b9b9b;
}

/* class for making items center */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dropdown css */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  position: relative;
}
nav ul li .nav-link{
  color: #000000 !important;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
}

.drop-list a {
  color: white !important;
  padding: 12px 15px;
  line-height: 16px;
}
.nav-dropdown {
  min-width: 175px;
  background-color: black;
  border-radius: 8px;
  top: 40px;
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-dropdown::before{
   content: '';
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-bottom: 20px solid black;
   top: -20px;
   position: absolute;
   left: 11%;
}


/* ***************************************** */

.contact-form {
  height: 50vh;
  width: 50vw;
  background: #38c4f6;
  background-image: linear-gradient(rgb(136, 200, 188), #f4faf8);
  /* background: red; */
  display: grid;
  grid-template-columns: 40fr 60fr;
  /* border: 2px solid #323332; */
  border-radius: 0.5rem;
  position: fixed;
  display: none;
  top: 25vh;
  left: 25vw;
  z-index: 11;
  transition: all 600ms ease-in-out;
}


.right .btn {
  /* background: red; */
  display: flex;
}

.right .btn .btn-wrapper {
  height: 50px;
  width: 50px;
  /* background: pink; */
  margin-top: 8px;
  font-size: 30px;
  cursor: pointer;
  color: #323332;
  margin-left: calc(30vw - 50px);
}

.right .discription {
  /* background: yellow; */
  flex-direction: column;
  font-family: "Rokkitt", serif;
  font-weight: 300;
  font-size: 12px;
  color: #323332;
  cursor: pointer;
}
.right .discription div {
  margin-top: 4rem;
  /* background: yellow; */
}

.right .description .fa-whatsapp {
  display: none;
}

.left {
  /* background: yellow; */
  background-color: #f4faf8;
  display: grid;
  grid-template-rows: 20fr 80fr;
  margin: 2rem;
  border: 2px solid #323332;
  border-radius: 1rem;
}

.left .title {
  /* background: rgb(5, 5, 5); */
  font-family: "Rokkitt", serif;
  font-weight: 300;
  font-size: 2rem;
  color: #323332;
  letter-spacing: 3px;
}
.left .logo .image {
  height: 60%;
  width: 60%;
  /* background: red; */
  background-image: url(./logo.jpeg);
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  /* background: turquoise; */
  /* border-radius: 60%; */
}



@media only screen and (max-width: 430px) {
  .right .discription {
    font-size: 8px;
  }
}
@media only screen and (max-width: 370px) {
  .left .title {
    letter-spacing: 0px;
    font-size: 1.2rem;
  }
  .contact-form {
    display: grid;
    grid-template-columns: 30fr 70fr;
  }
  .left {
    margin: 1rem;
  }
}

/* *********************************************************************** */

/* ***************************** */

/* Container */

.container {
  display: grid;
  grid-template-rows: 30vh 10vh 10vh 120vh 200vh 70vh 90vh 10vh;
}

.menu-section {
  /* background-color: violet; */
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
      1rem,
      1fr
    );
  grid-template-rows: 80fr 20fr;
  grid-template-areas:
    ". heading ."
    ". items . ";

  background-color: #f7f7f7;
  padding-bottom: 2rem;
}

.menu-section .heading {
  grid-area: heading;
  /* background-color: tomato; */
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas: "title . search";
}

.menu-section .heading .title {
  grid-area: title;
  /* background: yellow; */
  font-family: var(--link-font);
  font-size: 3rem;
  padding-right: 1.5rem;
  font-weight: 600;
  color: #333;
}

.menu-section .heading .title .nav-bar-logo {
  /* background-color: red; */
  height: 8rem;
  width: 8rem;
  padding-left: 2rem;
  background-image: url(./nav-bar-logo.jpeg);
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  /* margin-right: 2rem; */
}
.menu-section .heading .title .name {
  /* background-color: red; */
  margin-left: 2rem;
}

.menu-section .heading .search {
  grid-area: search;
  /* background: blue; */
}
.menu-section .heading .search .search-input {
  height: 6vh;
  width: 15vw;
  /* background: red; */
  color: rgb(206, 206, 206);
  padding-left: 1rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 4rem;
}
.menu-section .heading .search .icon {
  height: 4rem;
  width: 4rem;
  border-radius: 60%;
  position: relative;
  /* top: 0; */
  right: 3.5rem;
  background: rgb(136, 200, 188);
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.menu-section .heading .search .icon:hover {
  background: black;
}

.menu-section .heading .search .icon i {
  font-size: 1.5rem;
  color: white;
}
.menu-section .items {
  grid-area: items;
  /* background-color: rgb(54, 49, 49); */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: "home men women about contact . . . . . cart";
  font-family: var(--heading-font);
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.menu-section .items .home {
  grid-area: home;
  cursor: pointer;
}

.menu-section .items .home:hover {
  color: rgb(136, 200, 188);
}

.menu-section .items .men {
  grid-area: men;
  cursor: pointer;
  /* background-color: rgb(228, 102, 19); */
}
.menu-section .items .men:hover {
  color: rgb(136, 200, 188);
}
.menu-section .items .women {
  grid-area: women;
  color: rgb(136, 200, 188);
  /* cursor: pointer; */
  /* background-color: yellow; */
}
.menu-section .items .about {
  grid-area: about;
  cursor: pointer;
  /* background-color: rgb(151, 109, 90); */
}
.menu-section .items .about:hover {
  color: rgb(136, 200, 188);
}
.menu-section .items .contact {
  grid-area: contact;
  cursor: pointer;
  /* background-color: yellow; */
}
.menu-section .items .contact:hover {
  color: rgb(136, 200, 188);
}
.menu-section .items .space {
  /* grid-area: ; */
  /* background-color: rgb(20, 20, 20); */
}
.menu-section .items .cart {
  grid-area: cart;
  /* background-color: rgb(2, 255, 255); */
}

.annoucement {
  background-color: rgb(136, 200, 188);
  text-align: center;
  color: white;
  font-family: var(--link-font);
  font-weight: 500;
  font-size: 2.2rem;
}

.main-showcase {
  height: 100%;
  width: 100%;
  background-color: rgb(53, 41, 53);
}

.main-showcase .showcase {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.slider {
  /* display: flex; */
  background-image: url(./Images/shoeImages/shoe2.jpg);
  transition: all 400ms ease-in-out;
  /* transform: translateX(-737px); */
}

.image {
  width: 100%;
  height: 100%;
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
}

.main-showcase .showcase .slider .div1 {
  opacity: 1;
  /* display: none; */
  /* background-color: red; */
  transform: translateY(100px);
  transition: all 600ms ease;
}
.main-showcase .showcase .slider .div2 {
  opacity: 1;
  background-color: red;
  transform: translateY(100px);
  transition: all 600ms ease;
}
.main-showcase .showcase .slider .div3 {
  opacity: 1;
  background-color: red;
  transform: translateY(100px);
  transition: all 600ms ease;
}

.fade-in {
  /* transform: translateY(100px); */
  transform: translateY(0px);
  opacity: 1;
  /* display: block; */
  background-color: yellow;
}

/* ----------------------------------------- */

.collections-product {
  /* background-color: rgb(37, 143, 46); */
  background-color: white;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
      1rem,
      1fr
    );
  grid-template-rows: 50fr 50fr;
  grid-template-areas:
    ". top ."
    ". product-image .";
  grid-row-gap: 4rem;
}

.collections-product .top {
  grid-area: top;
  /* background-color: brown; */
  /* font-family: var(--link-font);
      font-weight: 600;
      font-size: 38px;
      text-align: center; */
  display: grid;
  grid-column-gap: 1.6rem;
  grid-template-rows: 85fr 15fr;
}

.collections-product .top .image {
  background-image: url(./women.jpg);
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
}

.collections-product .top .options {
  background-color: yellow;
  background-color: var(--button-color);
}

.collections-product .top .options a {
  transition: all 500ms ease-in-out;
}
.collections-product .top .options a:visited {
  color: white;
}
.collections-product .top .options a:hover {
  color: black;
}
.collections-product .top .options a:link {
  text-decoration: none;
  margin-right: 3rem;
  font-family: var(--link-font);
  font-size: 1.4rem;
  font-weight: 300;
  color: white;
}

.collections-product .product-image {
  grid-area: product-image;
  /* background-color: darkblue; */
  display: grid;
  grid-column-gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
}
.collections-product .product-image > div .image h1 {
  font-family: var(--link-font);
  font-size: 2.8rem;
  font-weight: 600;
  color: white;
}
.collections-product .product-image > div .image .product-img-btn {
  height: 5rem;
  width: 15rem;
  background-color: var(--button-color);
  font-family: var(--link-font);
  color: white;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 4rem;
}
.collections-product .product-image > div .image .product-img-btn:hover {
  background-color: black;
}
.collections-product .product-image > div .image .product-img-btn {
  transition: all 500ms ease-in-out;
}
.collections-product .product-image .image1 .image {
  /* height: 80%;
  width: 80%; */
  background-image: url(./Women-Shoes/women1.jpg);
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  flex-direction: column;
}
.collections-product .product-image .image2 .image {
  /* height: 80%;
  width: 80%; */
  background-image: url(./Women-Shoes/women2.jpg);
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  flex-direction: column;
}
.collections-product .product-image .image3 .image {
  /* height: 80%;
  width: 80%; */
  background-image: url(./Women-Shoes/women3.jpg);
  background-size: 100% 100%, contain;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
  flex-direction: column;
}
.best-sellers {
  margin-top: 10rem;
  /* background-color: rgb(129, 209, 24); */
  /* background-color: rgb(28, 37, 34); */
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
      1rem,
      1fr
    );
  grid-template-rows: 10fr 80fr 10fr;
  grid-template-areas:
    ". heading ."
    ". showcase ."
    ". product-btn .";
}

.best-sellers .heading {
  grid-area: heading;
  /* background-color: turquoise; */
  font-family: var(--heading-font);
  font-size: 3.6rem;
  font-weight: 600;
}

.best-sellers .showcase {
  margin-top: 8rem;
  grid-area: showcase;
  /* background-color: rgb(253, 15, 162); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

.best-sellers .showcase .item {
  border: 0.5px solid #dcdde1;
  display: grid;
  grid-template-rows: 65fr 35fr;
  border-radius: 1.5rem;
  /* background-color: rgb(20, 97, 121); */
}

.best-sellers .showcase .item .image {
  /* background-image: url(./Images/project-2.jpg); */
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.best-sellers .showcase .item .description {
  /* background-color: rgb(194, 48, 194); */
  flex-direction: column;
}

.best-sellers .showcase .item1 .image {
  background-image: url(./Shoes/shoe1.jpg);
}

.best-sellers .showcase .item2 .image {
  background-image: url(./Shoes/shoe2.jpg);
}

.best-sellers .showcase .item3 .image {
  background-image: url(./Shoes/shoe3.jpg);
}

.best-sellers .showcase .item4 .image {
  background-image: url(./Shoes/shoe4.webp);
}

.best-sellers .showcase .item5 .image {
  background-image: url(./Shoes/shoe5.jpg);
}
.best-sellers .showcase .item6 .image {
  background-image: url(./Shoes/shoe6.webp);
}
.best-sellers .showcase .item7 .image {
  background-image: url(./Shoes/shoe7.jpg);
}
.best-sellers .showcase .item8 .image {
  background-image: url(./Shoes/shoe8.webp);
}

.best-sellers .product-btn {
  grid-area: product-btn;
  margin-top: 8rem;
}
.best-sellers .product-btn .button-wrapper {
  width: 20rem;
  height: 5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: var(--link-font);
  transition: all 600ms ease-in-out;
  color: white;
  /* grid-area: product-btn; */
  background-color: #616161;
}
.best-sellers .product-btn .button-wrapper:hover {
  background: black;
  cursor: pointer;
}

/* ********************************************************************************************************** */

.trusted-partners {
  margin-top: 10rem;
  /* background-color: violet; */
  /* background-color: rgb(24, 203, 209); */
  /* background-color: rgb(28, 37, 34); */
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
      1rem,
      1fr
    );
  grid-template-rows: 30fr 70fr;
  grid-template-areas:
    ". heading ."
    ". brands .";
  /* margin-top: 50px; */
}

.trusted-partners .heading {
  grid-area: heading;
  /* background: red; */
  font-family: var(--heading-font);
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-size: 2.2rem;
}

.trusted-partners .brands {
  margin-top: 2rem;
  grid-area: brands;
  /* background: blue; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.trusted-partners .brands .brand {
  background-size: 100% 50%, contain;
  background-repeat: no-repeat;
}
.trusted-partners .brands .brand1 {
  background-image: url(./Brands/puma.png);
}
.trusted-partners .brands .brand2 {
  background-image: url(./Brands/nike.png);
}
.trusted-partners .brands .brand3 {
  background-image: url(./Brands/gucci.png);
}
.trusted-partners .brands .brand4 {
  background-image: url(./Brands/merrell.png);
}
.trusted-partners .brands .brand5 {
  background-image: url(./Brands/addidas.png);
}

/* --------------------------------------------------- */

/* Sticky - Navbar */

.nav-bar {
  /* width: 100vw; */
  width: minmax(min-content, 1100px);
  height: 10vh;
  width: 99vw;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-columns: 10fr 10fr 60fr repeat(4, 5fr);
  background-color: #333;
}

.nav-bar > div i {
  font-size: 2rem;
}

.nav-bar1 .image {
  height: 40%;
  width: 80%;
  /* background-color: black; */
  background-image: url(./logo.png);
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  /* border-left: 1px solid var(--icon-color); */
  color: var(--icon-color);
}

.nav-bar2 {
  background-color: black;
  border-left: 1px solid var(--icon-color);
  color: var(--icon-color);
  font-size: 1.8rem;
  font-weight: 300;
  font-family: var(--link-font);
}
.nav-bar3 {
  /* background-color: rgb(179, 212, 30); */
  border-left: 1px solid var(--icon-color);
  color: var(--icon-color);
}
.nav-bar4 {
  /* background-color: rgb(32, 16, 102); */
  border-left: 1px solid var(--icon-color);
  color: var(--icon-color);
}
.nav-bar5 {
  background-color: #4cd137;
  color: white;
  border-left: 1px solid var(--icon-color);
}
.nav-bar6 {
  /* background-color: rgb(216, 4, 4); */
  color: var(--icon-color);
  border-left: 1px solid var(--icon-color);
}

/* -------------------------- Footer ---------------------------- */

.footer {
  background-color: rgb(216, 145, 14);
}
.footer {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(min-content, 1100px) minmax(
      10px,
      1fr
    );
  /* grid-template-rows: minmax(50vh, 1fr); */
  grid-template-areas: ". footer-wrapper .";
  background-color: white;
  /* background: red; */
}

.footer .footer-wrapper {
  grid-area: footer-wrapper;
  /* background-color: pink; */
  padding-top: 20rem;
  display: grid;
  font-family: var(--heading-font);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-column-gap: 10px;
        grid-row-gap: 50px; */
}

.go-to-form {
  /* background: red; */
  font-weight: 300;
  font-size: 1.4rem;
  cursor: pointer;
  font-family: var(--link-font);
  color: #323332;
}

.footer .footer-wrapper .item {
  /* background-color: tomato; */
  display: flex;
  /* justify-content: center; */
  margin-top: 5rem;
  flex-direction: column;
  font-weight: 300;
}
.footer .footer-wrapper .item .title {
  margin-bottom: 3.5rem;
  font-weight: 500;
  font-size: 1.8rem;
}
.footer .footer-wrapper .item .link {
  margin-bottom: 2rem;
  /* font-weight: 500; */
}
.footer .footer-wrapper .item .link h4 {
  padding-bottom: 2rem;
  /* font-weight: 500; */
}
.footer .footer-wrapper .item a:visited {
  color: black;
}
.footer .footer-wrapper .item a:hover {
  color: black;
}
.footer .footer-wrapper .item a:link {
  text-decoration: none;
  font-family: var(--link-font);
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
}
.footer .footer-wrapper .item1 {
  /* padding-top: 6rem; */
  /* font-size: 2rem; */
  padding-right: 2rem;
  /* background-color: red; */
}
.footer .footer-wrapper .item1 .icons {
  padding-top: 2rem;
  width: 15rem;
  height: 4rem;
  font-size: 2.5rem;
  /* background-color: red; */
  color: #323332;
}
.footer .footer-wrapper .item1 .icons a:link {
  text-decoration: none;
  color: #323332;
}
.footer .footer-wrapper .item1 .icons a:visited {
  text-decoration: none;
  color: #323332;
}
.footer .footer-wrapper .item1 .icons a:hover {
  text-decoration: none;
  color: black;
}
.footer .footer-wrapper .item1 > div {
  /* background-color: tomato; */
  margin-bottom: 8rem;
}
.footer .footer-wrapper .item1 .content {
  font-family: var(--link-font);
  font-size: 1.4rem;
  font-weight: 300;
}
.footer .footer-wrapper .item5 {
  /* margin-top: 5rem; */
  /* padding-top: 6rem; */
  /* font-size: 2rem; */
  padding-right: 2rem;
  /* background-color: rgb(59, 57, 57); */
}
.footer .footer-wrapper .item5 .link > div {
  font-family: var(--link-font);
  font-size: 1.4rem;
  font-weight: 300;
}

/* -------------------------------------------------------------------------------------------------------- */

.to-top {
  height: 5rem;
  width: 5rem;
  color: white;
  border-radius: 5px;
  background-color: var(--button-color);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;

  transition: all 600ms ease-in-out;
  cursor: pointer;
}

/* -----------------------------------------------------MEDIA QUERIRES----------------------------------------------------------- */
@media only screen and (max-width: 1044px) {
  html {
    font-size: 50%;
  }

  .menu-section .heading .search .icon {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 60%;
    position: relative;
    right: 5.5rem;
  }
}
@media only screen and (max-width: 836px) {
  .footer .footer-wrapper .item1 {
    padding-top: 8rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 888px) {
  .container {
    display: grid;
    grid-template-rows: 30vh 10vh 10vh 140vh 200vh 90vh 90vh 10vh;
  }
}

@media only screen and (max-width: 772px) {
  .footer .footer-wrapper .item5 {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 703px) {
  .footer .footer-wrapper .item1 {
    padding-top: 10rem;
    padding-right: 2.5rem;
  }
}
@media only screen and (max-width: 692px) {
  .menu-section .heading .search {
    /* height: 5.5rem;
      width: 5.5rem;
      border-radius: 60%;
      position: relative;
      right: 5.5rem; */
    display: none;
  }

  .menu-section .items .main-option {
    /* display: none; */
    /* margin-right: 4rem; */
    font-size: 1rem;
  }
}

@media only screen and (max-width: 660px) {
  .footer .footer-wrapper .item1 {
    padding-top: 6rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 784px) {
  .menu-section .items {
    grid-area: items;
    /* background-color: rgb(54, 49, 49); */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "home men women about contact  cart";
    font-family: var(--heading-font);
    font-size: 1.4rem;
    letter-spacing: 1.5px;
  }
  .menu-section .items .cart .value {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .footer .footer-wrapper .item1 {
    padding-top: 9rem;
    padding-right: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer .footer-wrapper .item1 {
    padding-top: 6rem;
    padding-right: 2.5rem;
  }
  .footer .footer-wrapper .item5 {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .annoucement {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 429px) {
  .footer .footer-wrapper .item1 {
    padding-top: 8rem;
  }

  .container {
    display: grid;
    grid-template-rows: 30vh 10vh 10vh 140vh 800vh 90vh 90vh 10vh;
    /* display: none; */
  }
  .collections-product {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
        1rem,
        1fr
      );
    grid-template-rows: 20fr 80fr;
    /* display: none; */
    grid-template-areas:
      ". top ."
      ". product-image .";
    grid-row-gap: 4rem;
  }
  .collections-product .top .options{
    font-size: 1rem;
    padding: 2rem;
    /* display: none; */
  }
  .collections-product .product-image {
    grid-area: product-image;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  .best-sellers {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px) minmax(
        1rem,
        1fr
      );
    grid-template-rows: 5fr 90fr 5fr;
  }
  .best-sellers .showcase {
    margin-top: 8rem;
    /* display: none; */
    grid-area: showcase;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }
  .best-sellers .showcase .item {
    display: grid;
    grid-template-rows: 65fr 35fr;
  }
  .best-sellers .showcase .item .description {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 397px) {
  .footer .footer-wrapper .item5 {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 380px) {
  /* .best-sellers .showcase .item .image {
      background-size: 50% 50%, contain;
      background-repeat: no-repeat;
    } */
  .container {
    display: grid;
    grid-template-rows: 30vh 10vh 10vh 140vh 800vh 90vh 90vh 10vh;
  }
  .best-sellers .showcase {
    margin-top: 8rem;
    grid-area: showcase;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }
  .best-sellers .showcase .item {
    display: grid;
    grid-template-rows: 65fr 35fr;
  }
  .collections-product .product-image {
    grid-area: product-image;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .trusted-partners .brands {
    margin-top: 2rem;
    grid-area: brands;
    /* background: blue; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .trusted-partners .brands .brand {
    background-size: 60% 70%, contain;
    background-repeat: no-repeat;
    margin-left: 12rem;
  }
}

@media only screen and (max-width: 366px) {
  .container {
    display: grid;
    grid-template-rows: 30vh 10vh 10vh 140vh 800vh 120vh 90vh 10vh;
  }
  .trusted-partners .brands .brand {
    background-size: 50% 50%, contain;
    background-repeat: no-repeat;
    margin-left: 12rem;
  }
}

@media only screen and (max-width: 361px) {
  .footer .footer-wrapper .item1 {
    padding-top: 10rem;
  }
  .copyright {
    margin-top: 25rem;
    /* display: none; */
  }
}

@media only screen and (max-width: 334px) {
  .container {
    display: grid;
    grid-template-rows: 30vh 10vh 10vh 140vh 800vh 120vh 90vh 10vh;
  }
  .trusted-partners .brands .brand {
    background-size: 50% 50%, contain;
    background-repeat: no-repeat;
    margin-left: 12rem;
  }
  .annoucement {
    font-size: 1.6rem;
  }
  .collections-product .top .options .sale{
    padding-left: 3rem;
    /* display: none; */
  }
}










/* ***************************************** */

.contact-form {
  width: 30vw;
  padding: 30px;
  background: #38c4f6;
  background-image: linear-gradient(rgb(136, 200, 188), #f4faf8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: fixed;
  display: none;
  top: 25vh;
  left: 32vw;
  z-index: 11;
  transition: all 600ms ease-in-out;
}
.contact-form .right .btn{
  position: absolute;
  right: 12px;
  top: 14px;
}
.contact-form .img img{
  max-width: 200px;
    display: block;
    margin: 0 auto 20px;
}
.contact-form .title h1{
  font-family: "Rokkitt", serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.contact-form .btn-wrapper i{
  font-size: 22px;
}
.right .btn {
  /* background: red; */
  display: flex;
}

.right .discription {
  /* background: yellow; */
  flex-direction: column;
  font-size: 18px;
  font-family: "Rokkitt", serif;
  color: #323332;
  cursor: pointer;
}
.font-setting
{
    font-family: system-ui;
    font-weight: 300;
    font-size: 21px;
}


/* ******************************   RESPONSIVENESS  ********************************* */

@media only screen and (max-width: 1020px) {
  .contact-form {
    width: 36vw;
    top: 25vh;
    left: 30vw;
  }
}
@media only screen and (max-width: 840px) {
  .right .discription {
    font-size: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .contact-form {
    width: 55vw;
    top: 25vh;
    left: 15vw;
  }
}
@media only screen and (max-width: 610px) {
  .left {
    height: 60%;
    background-color: #f4faf8;
    display: grid;
    grid-template-rows: 20fr 80fr;
    margin-bottom: 2rem;
  }

  .left .logo .image {
    height: 40%;
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-form .btn-wrapper{
    font-size: 20px;
  }
  .left .title {
    letter-spacing: 0px;
  }
}

.right .discription div {
  margin-top:0;
  /* background: yellow; */
}


